html.todesktop {
  -webkit-app-region: drag;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todesktop body {
  width: 100%;
}

.todesktop input.new-todo {
  text-align: center;
  padding: 16px;
  box-shadow: none;
}

.todesktop footer,
.todesktop h1 {
  display: none;
}

.todesktop .todoapp {
  margin: 0;
  box-shadow: none;
  background: transparent;
}

.todesktop .todo-list {
  padding: 0 16px;
}

.view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view:hover img {
  opacity: 0.1;
  transition: opacity 0.25s;
}

.view img {
  width: 48px;
  height: 48px;
}
